.select {
   width: 175px;
   height: 25px;
   margin-bottom: 10px;
}

@media screen and (min-width: 768px) {
   .select {
      margin-left: 15px;
   }
}

@media screen and (min-width: 1024px) {
   .select {
      margin-left: 143px;
      margin-bottom: 0;
   }
}
